@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
:root {
  height: 100%;
  background-color: var(--foreground);
}

[data-theme="dark"] {
  background-color: var(--background);
}

@layer base {
  :root {
    --background: "#0B0B45";
    --foreground: "white";
  }
}